/*font-family: 'Rubik', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Cabin', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;*/
/*Font Choices*/

#body {

	height: 100%;

}

#wrapper {

	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	/*background-size: 1000px 667px;*/
	background-size: cover;
    /*background-position: center;*/

}

#title{
	
	padding: 15px;
	color: black;
	/*background-color: #black;*/
    /*background-color: rgba(255,255,255,0.5);*/
    display: inline-block;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

#intro{
	
	padding: 15px;
	color: black;
	/*background-color: #black;*/
    /*background-color: rgba(255,255,255,0.5);*/
    display: inline-block;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.pic{

	height: 200px;
	width: 200px;
}

#movies-view {

	display: inline-block;
}

#label{
	
	font-family: 'Inconsolata', monospace;
	color: white;
	font-size: large;

}

button{

	width: 118px;
	margin: 20px 20px 50px 20px;
}

#opener{

	color: grey;
	font-size: 75px;
	font-family: 'Pacifico', cursive;
}

#footer{

	margin: 50px 50px 200px 50px;
}